

.btn-2 {
    letter-spacing: 7px;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 7px;
}

.btn-2:after,
.btn-2:before {

  border: 1px solid black;
  bottom: 0px;
  content: " ";
  display: block;

  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {

  border-color: white;
  transition: width 350ms ease-in-out;
  width: 70%;
}

