.dropbtn {
  background-color: black;
  display: center;
  font-weight: bolder;
  color: white;
  padding: 8px 24px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  transition: all .3s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 32px 8%;
}

.dropdown-content {
  border-radius: 8px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  z-index: 20;
}

.dropdown-content a {
  transition: all .2s ease;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: yellow;
  opacity: 0.5;
  border-radius: 0px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}
