.footer {
  align-items: center;
  background-color: transparent;
  bottom: 0;
  opacity: 0.7;
  color: #666666;
  display: flex;
  font-size: 5em;
  height: 400px;
  justify-content: center;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: -10;
}
