@import "destination_cards";
@import "header";
@import "dropdown";
@import "footer";
@import "btn";
@import "lettre";

.container-all {
  width: 100%;
}
body {
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
}
